################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ios/iOSWifiConnectSwift.swift
/node_modules/
