<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-wifiwizard2"
        version="3.1.1">

    <name>WifiWizard2</name>
    <description>Cordova Wifi Manager for Android and iOS</description>
    <license>Apache 2.0</license>
    <keywords>cordova,network,wifi,phonegap</keywords>
    <repo>https://github.com/tripflex/wifiwizard2.git</repo>
    <issue>https://github.com/tripflex/wifiwizard2/issues</issue>

    <js-module src="www/WifiWizard2.js" name="WifiWizard2">
        <clobbers target="window.WifiWizard2" />
    </js-module>

    <!-- ES6 promise polyfill -->
    <dependency id="es6-promise-plugin" version="4.1.0" />

    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WifiWizard2">
                <param name="android-package" value="wifiwizard2.WifiWizard2" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/wifiwizard2/WifiWizard2.java" target-dir="src/android/wifiwizard2" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WifiWizard2">
                <param name="ios-package" value="WifiWizard2"/>
            </feature>
        </config-file>

        <!-- frameworks -->
        <framework src="NetworkExtension.framework" />
            
        <!-- Add HotspotConfiguration & NetworkExtension Capabilities  -->
        <config-file parent="com.apple.developer.networking.HotspotConfiguration" target="*/Entitlements-Debug.plist">
            <true/>
        </config-file>
        <config-file parent="com.apple.developer.networking.HotspotConfiguration" target="*/Entitlements-Release.plist">
                 <true/>
        </config-file>
        <config-file parent="com.apple.developer.networking.networkextension" target="*/Entitlements-Debug.plist">
                <array/>
        </config-file>
        <config-file parent="com.apple.developer.networking.networkextension" target="*/Entitlements-Release.plist">
                <array/>
        </config-file>
	<config-file parent="com.apple.developer.networking.wifi-info" target="*/Entitlements-Debug.plist">
                <true/>
        </config-file>
        <config-file parent="com.apple.developer.networking.wifi-info" target="*/Entitlements-Release.plist">
                <true/>
        </config-file>
            
        <header-file src="src/ios/WifiWizard2.h" />
        <source-file src="src/ios/WifiWizard2.m" />
        <framework src="SystemConfiguration.framework" />
    </platform>

</plugin>
